div{
    margin:0 auto;
}

/*поле доски*/
.wrapper{
    width:800px;
    height:800px;
    background-color:blue;
}

/*линия*/
.line {
    width:800px;
    height:80px;
    background-color: coral;
}

/*клетки*/
.cellBlack, .cellWhite, .cell, .cellRotate {
    width:80px;
    height:80px;
    float: left;
    /*форматирование текста*/
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    line-height: 4em;
}

.cell, .cellRotate{    
    background-color: none;
}

.cellRotate{    
    transform: rotate(180deg);
}

.cellBlack {
    background-color: black;
}

.cellWhite {
    background-color: white;
}